{% extends 'Home.html' %}
{% block title %}
Doughnut Chart
{% endblock %}

{% block content %}
<h1>Doughnut Graph</h1>
<body class="text-center">

    <div style="width: 800px; height: 600px;">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        async function fetchData() {
            try {
                const response = await fetch('http://127.0.0.1:5000/store');
                return await response.json();
            } catch (error) {
                console.error('Error fetching data:', error);
                throw error;
            }
        }

        async function prepareChartData() {
            try {
                const storesData = await fetchData();
                const storeNames = storesData.map(store => store.name);
                const itemCounts = storesData.map(store => store.items.length);
                return { storeNames: storeNames, itemCounts: itemCounts };
            } catch (error) {
                console.error('Error preparing chart data:', error);
                throw error;
            }
        }

        async function createChart() {
            try {
                const chartData = await prepareChartData();
                const ctx = document.getElementById('myChart').getContext('2d');
                const storeItemsChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: chartData.storeNames,
                        datasets: [{
                            label: 'Items',
                            data: chartData.itemCounts,
                            borderWidth: 1,
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                         plugins: {
                            legend: {
                                labels: {
                                    color: 'white'
                                }
                            }
                        }
                    }
                });
            } catch (error) {
                console.error('Error creating chart:', error);
            }
        }

        createChart();
    </script>
</body>
{% endblock %}
